{% extends "base.html" %}

{% block title %}Events Calendar{% endblock %}

{% block content %}
<h1>Upcoming Events</h1>

<script>
    const userRole = "{{ user_role }}";
    console.log(userRole);
    const eventsData = JSON.parse('{{ events_data|tojson|safe }}');
</script>

<div id="calendar"></div>

{% if user_role == 'admin' %}
<div id="createEventModal" class="modal">
    <div class="modal-content">
        <div class="form-header">
            <button type="button" id="closeModal" class="close-button" aria-label="Close">&times;</button>
        </div>

        <div id="successMessage" class="success-message" style="display: none;">
            Event added successfully!
        </div>
        <form method="POST" action="/events">
            <h2>Add New Event</h2>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required>

            <label for="description">Description</label>
            <textarea id="description" name="description" required></textarea>

            <label for="date">Date</label>
            <input type="date" id="date" name="date" required>

            <label for="start_time">Start Time</label>
            <input type="time" id="startTime" name="startTime" required>

            <label for="end_time">End Time</label>
            <input type="time" id="endTime" name="endTime" required> 

            <label for="location">Location</label>
            <input type="text" id="location" name="location" required>

            <button type="submit" class="btn btn-green">Add Event</button>
        </form>
    </div>
</div>
<button id="addEventButton">Add Event</button>
{% endif %}

<div class="events-container">
    {% for event in events %}
    <div class="event-card">
        <div class="event-header">
            <p class="event-date">{{ event.formatted_date }}</p>
            <h2 class="event-title">{{ event.title }}</h2>
            <p class="event-times">
                <strong>When:</strong> 
                {{ event.start_time.strftime('%I:%M %p') }} - {{ event.end_time.strftime('%I:%M %p') }}
            </p>
        </div>
        <div class="event-body">
            <img src="{{ event.image_url or '' }}" alt="Event image" class="event-image" />
            <p class="event-location"><strong>Where:</strong> {{ event.location }}</p>
            <p class="event-going"><strong>Who's Going:</strong> {{ event.going_count or 0 }} going</p>
            <button class="btn btn-success custom-attend-button">Attend</button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
